/* img{
    margin-top: 20px;
    /* height: 130px; */
    /* width:315px */
/* } */ 

.video-container{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    border-bottom: 1px solid;
    padding: 10px;
}

.video-title{
    margin-top: 10px;
}

.video-container.first{
    margin-top:20px;
}

@media screen and (max-width:767px){
    .video-container{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        margin-top: 10px;
        border-bottom: none;
        padding:initial;
    }
    .video-container:first-child{
       margin-top:20px;
    }
    .video-title{
        margin-bottom: 10px;
        margin-top: initial;
        font-size:10px ;
        padding: 10px;
        border-bottom: 1px solid;
}
}
 

