body{
    margin: initial;
    
}

.backImg{
  /* background: url(images/login-img.jpg); */
  background: url(images/barca.jpg);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  background-blend-mode: lighten;
  background-color: rgb(255, 255, 255,0.2);
}

.box{
  margin-top: 70px;
  background-color: black;
  color: white;
  height: 40px;
  padding-top:20px
}
.copy{
  text-align: center;
}



.form_wrap{
    border: 2px solid skyblue;
    background-color: rgb(236, 222, 202);
   transform: translateY(80%);
}

h1{
    margin: 0;
}

.list{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-top: 1px,solid,blueviolet;
}

.form_title{
    text-align: center;
    margin-top: 20px;
}

.form_set{
    text-align: center;
}

.form_element{
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
}

input{
    width: 50%;
}


.post {
  display: flex;
  background-color:cornsilk;
  
}

.post:not(:last-child) {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.icon-container {
  width: 1.5em;
  font-size: 3em;
  padding: 0.2em;
}

.body-container {
  flex: 1;
  padding: 0.5em;
}


.status-display{
  position: relative;
}

.account-name {
  color: gray;
}

.current-time{
 position: absolute;
 right: 0;
}

.status-action{
  position: relative;
}

.delete-icon{
  position: relative;
  right: 0;
}


.tweet-textarea {
  font-size: 1em;
  width: 100%;
  height: 10em;
  padding: 0.8em;
  resize: vertical;
  border-radius: 5px;
  background-color: snow;
}


.send-tweet {
  font-size: 1em;
  padding: 0.5em 1em;
  margin-left: 150px;
  border-radius: 5px;

}

.content{
  white-space: pre-line;
}


